@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

html, body {
    background-color: white;
    font-size: 16px;
    font-family: "Space Mono";
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50rem;
    text-align: center;
    padding: 8.5rem 0;
}

header h1 {
    text-transform: uppercase;
    font-size: 4.75rem;
    letter-spacing: 2.5px;
}

header p {
    margin-top: 0.8rem;
    margin-bottom: 3.5rem;
    font-size: 1.25rem;
}

/*  NAVIGATION   */

nav ul {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    justify-content: center;
}

nav li {
    height: 5rem;
    width: 17.5rem;
    border: 2.5px solid black;
    border-radius: 10px;
    list-style-type: none;
    background-color: #E8E8E8;
    font-size: 1.75rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 2.5rem;
    box-shadow: 0.5rem 0.6rem black;
}

nav a {
    color: black;
    text-decoration: none;
}

/*  ABOUT ME AND SKILLS */

main {
    display: inline-flex;
    margin: 7.5rem;
}

main h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.about-me {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin-right: 5rem;
}

.about-me p {
    font-size: 1.3rem;
}

.my-skills {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    margin-left: 5rem;
}