@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Regular.ttf) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Bold.ttf) format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-Italic.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url(fonts/SpaceMono-BoldItalic.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
}

html, body {
    background-color: white;
    font-size: 16px;
    font-family: "Space Mono";
    margin: 0;
    padding: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 50rem;
    text-align: center;
    padding: 8.5rem 0;
}

header h1 {
    text-transform: uppercase;
    font-size: 4.75rem;
    letter-spacing: 2.5px;
}

header p {
    margin-top: 1rem;
    margin-bottom: 3.5rem;
    font-size: 1.25rem;
}

nav ul {
    display: flex;
    flex-flow: row wrap;
    row-gap: 10px;
    justify-content: center;
}

nav li {
    height: 5rem;
    width: 17.5rem;
    border: 2.5px solid black;
    border-radius: 10px;
    list-style-type: none;
    background-color: #E8E8E8;
    font-size: 1.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.25rem 2.5rem;
}
